@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!-- Booking Confirmation View -->
<!-- This is the booking confirmation screen-->
@{
    ViewData["Title"] = Localizer["BookingConfirmation"];
}
<h2>@Localizer["ThankYou"]</h2>
<p>@Localizer["Status"]: <strong>@Localizer["Pending"]</strong></p>
<a class="=" btn btn-primary" asp-controller="Bookings" asp-action="MyBookings">@Localizer["ViewMyBookings"]</a>
<a class="btn btn-primary" asp-controller="Home" asp-action="Index">@Localizer["ReturnHome"]</a>